// Light theme

// paper & background
$paper: #F8F9FA;

// primary
$primaryLight: hsl(206, 30.0%, 98.8%);
$primaryMain: hsl(206, 11.7%, 32.1%);
$primaryDark: hsl(206, 24.0%, 9.0%);
$primary200: hsl(206, 30.0%, 98.8%);
$primary800: hsl(206, 24.0%, 9.0%);

// secondary
$secondaryLight: hsl(206, 20.0%, 95.8%);
$secondaryMain: hsl(206, 6.0%, 26.1%);
$secondaryDark: hsl(206, 24.0%, 9.0%);
$secondary200: hsl(206, 5.8%, 52.3%);
$secondary800: hsl(206, 6.0%, 43.5%);

// success Colors
$successLight: #b7e1cd;
$success200: #48a498;
$successMain: #227c9d;
$successDark: #155E75;

// error
$errorLight: #ffc1c1;
$errorMain: #FF5A5F;
$errorDark: #B8252E;

// orange
$orangeLight: #FFECD1;
$orangeMain: #FFB085;
$orangeDark: #CC6B35;

// warning
$warningLight: #FFECD1;
$warningMain: #FFB085;
$warningDark: #CC6B35;

// grey
$grey50: hsl(206, 30.0%, 98.8%);
$grey100: hsl(210, 16.7%, 97.6%);
$grey200: hsl(209, 13.3%, 92.3%);
$grey300: hsl(209, 12.2%, 23.2%);
$grey500: hsl(208, 11.7%, 21.1%);
$grey600: hsl(208, 11.3%, 18.9%);
$grey700: hsl(207, 11.1%, 35.9%);
$grey900: hsl(206, 24.0%, 9.0%);

// ==============================|| DARK THEME VARIANTS ||============================== //

// Dark theme

// paper & background
$darkBackground: hsl(200, 7.0%, 8.8%);
$darkPaper: hsl(200, 7.0%, 8.8%);

// dark 800 & 900
$darkLevel1: hsl(201, 6.2%, 20.5%); // level 1
$darkLevel2: hsl(203, 6.0%, 24.3%); // level 2

// primary dark
$darkPrimaryLight: hsl(195, 7.1%, 11.0%);
$darkPrimaryMain: hsl(195, 7.1%, 11.0%);
$darkPrimaryDark: hsl(200, 7.0%, 8.8%);
$darkPrimary200: hsl(197, 6.8%, 13.6%);
$darkPrimary800: hsl(203, 6.0%, 24.3%);

// secondary dark
$darkSecondaryLight: hsl(198, 6.6%, 15.8%);
$darkSecondaryMain: hsl(206, 6.0%, 63.0%);
$darkSecondaryDark: hsl(210, 6.0%, 93.0%);
$darkSecondary200: hsl(203, 6.0%, 24.3%);
$darkSecondary800: hsl(207, 5.6%, 31.6%);

// text variants
$darkTextTitle: hsl(206, 6.0%, 63.0%);
$darkTextPrimary: hsl(206, 5.2%, 49.5%);
$darkTextSecondary: hsl(206, 6.0%, 43.9%);


// ==============================|| JAVASCRIPT ||============================== //

:export {
    // paper & background
    paper: $paper;

    // primary
    primaryLight: $primaryLight;
    primary200: $primary200;
    primaryMain: $primaryMain;
    primaryDark: $primaryDark;
    primary800: $primary800;

    // secondary
    secondaryLight: $secondaryLight;
    secondary200: $secondary200;
    secondaryMain: $secondaryMain;
    secondaryDark: $secondaryDark;
    secondary800: $secondary800;

    // success
    successLight: $successLight;
    success200: $success200;
    successMain: $successMain;
    successDark: $successDark;

    // error
    errorLight: $errorLight;
    errorMain: $errorMain;
    errorDark: $errorDark;

    // orange
    orangeLight: $orangeLight;
    orangeMain: $orangeMain;
    orangeDark: $orangeDark;

    // warning
    warningLight: $warningLight;
    warningMain: $warningMain;
    warningDark: $warningDark;

    // grey
    grey50: $grey50;
    grey100: $grey100;
    grey200: $grey200;
    grey300: $grey300;
    grey500: $grey500;
    grey600: $grey600;
    grey700: $grey700;
    grey900: $grey900;

    // ==============================|| DARK THEME VARIANTS ||============================== //

    // paper & background
    darkPaper: $darkPaper;
    darkBackground: $darkBackground;

    // dark 800 & 900
    darkLevel1: $darkLevel1;
    darkLevel2: $darkLevel2;

    // text variants
    darkTextTitle: $darkTextTitle;
    darkTextPrimary: $darkTextPrimary;
    darkTextSecondary: $darkTextSecondary;

    // primary dark
    darkPrimaryLight: $darkPrimaryLight;
    darkPrimaryMain: $darkPrimaryMain;
    darkPrimaryDark: $darkPrimaryDark;
    darkPrimary200: $darkPrimary200;
    darkPrimary800: $darkPrimary800;

    // secondary dark
    darkSecondaryLight: $darkSecondaryLight;
    darkSecondaryMain: $darkSecondaryMain;
    darkSecondaryDark: $darkSecondaryDark;
    darkSecondary200: $darkSecondary200;
    darkSecondary800: $darkSecondary800;
}
